<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>    
    <h1>Task Manager</h1>
    <a href="{% url 'createUser' %}">Sign Up</a> <br><br>
    <a href="{% url 'addTask' %}">Add Task</a> <br><br>
    <a href="{% url 'listTask' %}">List Task</a> <br><br>
    
    {% block content %}
    <!-- <p>This content will be overwritten.</p> -->
    {% endblock %}
    
    <br><a href="{% url 'home' %}">Back</a>
    <br><a href="{% url 'logoutUser' %}">Logout</a>
</body>
</html>